@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=archivo@100,200,300,400,500,600,700,800,900&f[]=clash-display@200,300,400,500,600,700&display=swap");
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
    font-family: "Space Mono", monospace;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

.video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

header {
    min-width: 100vw;
    display: flex;
    justify-content: end;
}

header a{
  text-decoration: none;
  color: #fff;
}

nav {
    width: 45%;
}

nav ul {
    width: 100%;
    display: flex;
    align-content: center;
    list-style: none;
}

nav ul li {
    width: 30%;
    font-weight: 700;
    color: white;
}



.main {
    min-height: 100vh; 
    justify-content: center; 
    padding-left: 5%; 
    position: relative; 
    display: flex;
    float: left;
}

.text p {
    font-size: 80px;
    width: 30%;
    font-weight: 500;
    color: white;
}

.typing-container {
    color: white;
    white-space: nowrap; 
    overflow: hidden; 
    animation: caret-blink 0.8s step-end infinite; 
}

:root {
    --slide-width: min(25vw, 250px);
    --slide-aspect: 2 / 3;
  
    --slide-transition-duration: 800ms;
    --slide-transition-easing: ease;
  
    --font-archivo:"Space Mono", monospace;
    --font-clash-display: "Clash Display", sans-serif;
  }
  
  .slider {
    width: calc(3 * var(--slide-width));
    height: calc(2 * var(--slide-height));
    display: flex;
    align-items: center;
  }
  
  .slider--btn {
    --size: 40px;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 999;
  
    &:hover {
      opacity: 1;
    }
  }
  
  .slides__wrapper {
    width: 100%;
    height: 100%;
  
    display: grid;
    place-items: center;
  
    & > * {
      grid-area: 1 / -1;
    }
  }
  
  .slides,
  .slides--infos {
    width: 100%;
    height: 100%;
  
    pointer-events: none;
  
    display: grid;
    place-items: center;
    & > * {
      grid-area: 1 / -1;
    }
  }
  
  .slide {
    --slide-tx: 0px;
    --slide-ty: 0vh;
    --padding: 0px;
    --offset: 0;
  
    width: var(--slide-width);
    height: auto;
    aspect-ratio: var(--slide-aspect);
    user-select: none;
    perspective: 800px;
  
    transform: perspective(1000px)
      translate3d(var(--slide-tx), var(--slide-ty), var(--slide-tz, 0))
      rotateY(var(--slide-rotY)) scale(var(--slide-scale));
    transition: transform var(--slide-transition-duration)
      var(--slide-transition-easing);
  }
  
  .slide[data-current] {
    --slide-scale: 1.2;
    --slide-tz: 0px;
    --slide-tx: 0px;
    --slide-rotY: 0;
  
    pointer-events: auto;
  }
  
  .slide[data-next] {
    --slide-tx: calc(1 * var(--slide-width) * 1.07);
    --slide-rotY: -45deg;
  }
  
  .slide[data-previous] {
    --slide-tx: calc(-1 * var(--slide-width) * 1.07);
    --slide-rotY: 45deg;
  }
  
  .slide:not([data-current]) {
    --slide-scale: 1;
    --slide-tz: 0;
    /* --slide-tx: calc(var(--offset) * var(--slide-width) * 1.05); */
    /* --slide-rotY: calc(var(--dir) * -45deg); */
  
    pointer-events: none;
  }
  
  .slide[data-current] {
    & .slide--image {
      filter: brightness(0.8);
    }
  }
  
  .slide:not([data-current]) {
    & .slide--image {
      filter: brightness(0.5);
    }
  }
  
  .slide__inner {
    --rotX: 0;
    --rotY: 0;
    --bgPosX: 0%;
    --bgPosY: 0%;
  
    position: relative;
    left: calc(var(--padding) / 2);
    top: calc(var(--padding) / 2);
    width: calc(100% - var(--padding));
    height: calc(100% - var(--padding));
    transform-style: preserve-3d;
    transform: rotateX(var(--rotX)) rotateY(var(--rotY));
  }
  
  .slide--image__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .slide--image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%) scale(1.25)
      translate3d(var(--bgPosX), var(--bgPosY), 0);
    transition: filter var(--slide-transition-duration)
      var(--slide-transition-easing);
  }
  
  
  /* ------------ SLIDE INFO ---------------- */
  
  .slide-info {
    --padding: 0px;
  
    position: relative;
    width: var(--slide-width);
    height: 100%;
    aspect-ratio: var(--slide-aspect);
    user-select: none;
    perspective: 800px;
    z-index: 100;
  }
  
  .slide-info[data-current] {
    & .slide-info--text span {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition-delay: 250ms;
    }
  }
  
  .slide-info:not([data-current]) {
    & .slide-info--text span {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
      transition-delay: 0ms;
    }
  }
  
  .slide-info__inner {
    position: relative;
    left: calc(var(--padding) / 2);
    top: calc(var(--padding) / 2);
    width: calc(100% - var(--padding));
    height: calc(80% - var(--padding));
    transform-style: preserve-3d;
    transform: rotateX(var(--rotX)) rotateY(var(--rotY));
  }
  
  .slide-info--text__wrapper {
    --z-offset: 45px;
  
    position: absolute;
    height: fit-content;
    left: -15%;
    bottom: 15%;
    transform: translateZ(var(--z-offset));
    z-index: 2;
    pointer-events: none;
  }
  
  .slide-info--text {
    font-family: var(--font-clash-display);
    color: #fff;
    overflow: hidden;

  
    & span {
      display: block;
      white-space: nowrap;
      transition: var(--slide-transition-duration) var(--slide-transition-easing);
      transition-property: opacity, transform;
    }
  
    &[data-title],
    &[data-subtitle] {
      font-size: min(3cqw, 2.4rem);
      font-weight: 800;
      letter-spacing: 0.2cqw;
      white-space: nowrap;
      text-transform: uppercase;
    }
  
    &[data-subtitle] {
      margin-left: 2cqw;
      font-size: min(2.2cqw, 1.8rem);
      font-weight: 600;
    }
  
    &[data-description] {
      margin-left: 1cqw;
      font-size: min(1.5cqw, 0.95rem);
      font-family: var(--font-archivo);
      font-weight: 500;
    }
  }

  .slider--btn{
    background-color: transparent;
    border-style: none;
    
  }

.sobre > .time{
  width: 100%;
  min-height: 80vh;
  display: flex;
}

.nos {
  position: relative; /* Ajustado para que o elemento sobre não cause problemas */
  width: 100%;
  height: 100vh; /* Garante que a seção tenha a altura total da tela */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.product-card {
  width: 892px;
  height: auto;
  position: relative; /* Mudando para relative para permitir ajuste fluido com flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-left {
  width: 480px;
  height: 553px;
  background: #755fc2;
  border-radius: 23px;
  display: flex;
  margin-left: -500px;
  align-items: center;
}

.brand-image {
  width: 550px;
  opacity: 0.5;
  transform: rotate(-90deg) scale(1.2);
  margin-left: -110px;
}

.card-right {
  width: 600px;
  height: 479px;
  background: rgba(56, 49, 49, 0.267);
  position: absolute;
  left: -10%;
  transform: translateX(50%);
  border-radius: 23px;
  backdrop-filter: blur(10px);
}


.product-details {
  width: 300px;
  height: 300px;
  margin: 50px 0 0 235px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.product-details h1 {
  font-weight: 800;
  line-height: 46px;
  font-family: "Space mono", monospace;
  font-size: 45px;
  margin-bottom: 15px;
}

.product-details p{
  font-family: "Space Mono", monospace;
  font-size: 12px;
  color: #ffffff;
}

  .container {
    position: relative;
    margin: 0 20px;
}

    .container .card {
      position: relative;
      width: 210px;
      height: 330px;
      background: rgba(56, 49, 49, 0.267);
      backdrop-filter: blur(10px);
      border-radius: 20px;
      overflow: hidden;
      cursor: pointer; /* Adicionando um cursor pointer para indicar que o card é clicável */
  }
  
  .container .card:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #755fc2;
      clip-path: circle(150px at 80% 20%);
      transition: 0.5s ease-in-out;
  }
  
  .container .card.active:before {
      clip-path: circle(300px at 80% -20%);
  }
  
  .container .card:after {
      content: 'Next';
      position: absolute;
      top: 30%;
      left: -20%;
      font-size: 10em;
      font-weight: 800;
      font-style: italic;
      color: rgba(255, 255, 255, 0.04);
  }
  
  .container .card .imgBx {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10000;
      width: 100%;
      height: 220px;
      transition: 0.5s;
  }
  
  .container .card.active .imgBx {
      top: 0;
      transform: translateY(0%);
  }
  
  .container .card .imgBx img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150px;
      border-radius: 50%;
  }
  
  .container .card .contentBx {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      text-align: center;
      transition: 1s;
      z-index: 10;
  }
  
  .container .card.active .contentBx {
      height: 210px; /* Aumenta a altura do conteúdo quando ativo */
  }
  
  .container .card .contentBx h2 {
      position: relative;
      font-weight: 600;
      letter-spacing: 1px;
      color: #FFFFFF;
  }
  
  .container .card .contentBx .size,
  .container .card .contentBx .color {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      transition: 0.5s;
      opacity: 0; /* Oculta o tamanho e cor inicialmente */
      visibility: hidden; /* Oculta o tamanho e cor inicialmente */
  }
  
  .container .card.active .contentBx .size {
      opacity: 1; /* Torna o tamanho visível */
      visibility: visible; /* Torna o tamanho visível */
      transition-delay: 0.5s;
  }
  
  .container .card.active .contentBx .color {
      opacity: 1; /* Torna a cor visível */
      visibility: visible; /* Torna a cor visível */
      transition-delay: 0.6s;
  }
  
  .container .card .contentBx .size h3,
  .container .card .contentBx .color h3 {
      color: #FFFFFF;
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-right: 10px;
  }
  
  .container .card .contentBx .size span {
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 26px;
      font-size: 14px;
      display: inline-block;
      color: #111111;
      margin: 0 5px;
      transition: 0.5s;
      border-radius: 4px;
      cursor: pointer;
  }
  
  .container .card .contentBx a {
      pointer-events: auto; 
      display: inline-block; 
  }

  .projeto{
    min-width: 80vh;
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
  }
  
  .product-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
    height: 450px;
    background: rgba(56, 49, 49, 0.267);
    backdrop-filter: blur(10px);
    margin: 20px;
}

.product-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: .3s linear;
}

.product-image img {
    width: 100%; /* Faz com que a imagem cubra toda a largura */
    height: 100%; /* Faz com que a imagem cubra toda a altura */
  
}

 .detalhes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.detalhes h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #ffffff;
}

.detalhes h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0f082c;
}

.detalhes p {
    max-width: 85%;
    margin-left: 15%;
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 36px;
}

.parca img{
  width: 60%;
}

.ad{
  display: flex;
}

.ad button{
  margin-top: 15%;
  margin-left: 15%;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  border-style: none;
  background-color: #755fc2;
}

.ad button a{
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-family: "Space mono", monospace;
}

footer {
    position: relative; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh; 
    background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0.879), rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0)); 
    color: #fff; 
    display: flex;
    align-items: center; 
    text-align: center;
}

footer p {
    margin-left: 3%;
    font-weight: 800;
    width: 14%;
}


.line{
  height: 40%;
  width: 2px;
  background-color: white;
}

.texto-info{
  font-size: 10px;
  font-style: italic;
}

.icons{
  margin-left: 50%;
}

.icons img{
  width: 25px;
}

@keyframes caret-blink {
    50% {
        border-color: transparent;
    }
}


@media (max-width: 480px) {

    .typing-container {
        font-size: small;
        color: white;
        white-space: nowrap; 
        overflow: hidden; 
        animation: caret-blink 0.8s step-end infinite; 
    }

    nav {
        width: 100%;
    }

    nav ul li {
        width: 100%;
        font-size: x-small;
        font-weight: 700;
        color: white;
    }

    .main p {
        font-size: 90px; 
        color: #160229;
    }

     .main{
        flex-direction: column;
     }

     .text{
        min-height: 80vh;
     }


     .typing-container {
        color: #0f011b;
    }

    :root {
      --slide-width: min(29vw, 600px);
    }

    .slider {
        width: 90%;
        height: 80vh;
      }

      .slider--btn img{
        width: 30px;
        height: 30px;
      }

      .slide-info__inner {
        height: calc(60% - var(--padding));
      }

      .carousel-container {
        position: relative;
        min-width: 50vw; /* Mantendo o tamanho do carrossel */
        height: 400px;
        overflow: hidden;
        border-radius: 50%; /* Forma circular */
        clip-path: inset(0 0 0 50%); /* Corta metade do carrossel */
        left: -30%; /* Move o carrossel para a esquerda */
    }

    .sobre > .time{
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Duas colunas */
      grid-template-rows: auto auto auto;     /* Três linhas */
      gap: 10px;              
    }
    .container:nth-child(3) {
      grid-column: 1 / -1; /* O card do meio ocupa toda a linha */
      justify-self: center; /* Centraliza o card */
  }
    
    .container .card {
      width: 150px;
      height: 250px;
  }

  .container .card .imgBx img {
    width: 100px;
}
    
  .container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(80px at 80% 20%);
    
}

.container .card.active .contentBx {
  height: 150px; /* Aumenta a altura do conteúdo quando ativo */
}
.container .card .imgBx {
  z-index: 5;
}
.container .card .contentBx .size h3, 
.container .card .contentBx .color h3 {
    font-size: 8px;
}

.container .card .contentBx h2 {
  margin-top: 20%;
font-size: medium;
}

.container .card .contentBx .size span {
  width: 30px;
  height: 30px;
}

.container .card .contentBx .size span img {
  width: 25px;
  height: 25px;
}



.card-left {
  width: 250px;
  height: 280px;
  background: #755fc2;
  border-radius: 23px;
  display: flex;
  margin-left: -300px;
  align-items: center;
}

.brand-image {
  width: 250px;
  opacity: 0.5;
  transform: rotate(-90deg) scale(1.2);
  margin-left: 10px;
}

.card-right {
  width: 350px;
  height: 300px;
  background: rgba(255, 255, 255, 0.342);
  position: absolute;
  left: 19%;
  transform: translateX(50%);
  border-radius: 23px;
  backdrop-filter: blur(10px);
}


.product-details {
  width: 285px;
  height: 300px;
  margin: 4px 0 0 8px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.product-details h1 {
  font-weight: 800;
  line-height: 46px;
  font-family: monospace;
  font-size: 20px;
  margin-bottom: 1px;
}

.product-details p{
  font-family: "Space Mono", monospace;
  font-size: 10px;
  color: #3a13c6;
}
footer {
  position: relative; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh; 
  background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0.879), rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0)); 
  color: #fff; 
  display: flex;
  align-items: center; 
  text-align: center;
}

footer p {
  margin-left: 3%;
  font-weight: 800;
  width: 50%;
  font-size: 10px;
}


.line{
height: 30%;
width: 2px;
background-color: white;
}

.texto-info{
font-size: 10px;
font-style: italic;
}

.icons{
margin-left: 10%;
}

.icons img{
width: 20px;
}

.product-wrapper {
  position: relative;
  display: grid;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 300px;
  height: 700px;
  background: rgba(56, 49, 49, 0.267);
  backdrop-filter: blur(10px);
  margin-top: 20%;
  margin-right: 40%;
}

.product-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: .3s linear;
}

.product-image img {
  width: 100%; /* Faz com que a imagem cubra toda a largura */
  height: 100%; /* Faz com que a imagem cubra toda a altura */

}

.detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: content-box;
  padding: 0px;
  margin-left: 30%;
}

.detalhes h2 {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  color: #ffffff;
}

.detalhes h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0f082c;
}

.detalhes p {
  width: 300px;
  margin-left: 5%;
  color: #ffffff;
  font-size: 10px;
  margin-bottom: 5px;
}

.parca img{
  width: 40%;
}

.container .card .contentBx .size span {
  width: 50px;
  height: 50px;
}



}